.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.App {
    text-align: center;
    background-color: #ddd;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.header {
    background-color: #6aa84f;
    padding: 1rem;
    width: 100%;
}
.nav {
background-color: #6fa8dc;
flex: 1;
min-width: 250px;
padding: 1rem;
}
.main {
  background-color: #e06666;
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.sub{
  background-color: #ffd966;
  height: 20rem;
  flex: 1;
  min-width: 250px;
}
.ad{
  background-color: #b4a7d6;
  width: 100%;
  padding: 1rem;
}




